<!doctype html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Multipurpose,Linka - Modern Blog & Magazine HTML Template">
    <meta name="description" content="Linka - Modern Blog & Magazine HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/bootstrap.rtl.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/magnific-popup.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/animate.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/boxicons.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/flaticon.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/meanmenu.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/nice-select.min.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/style.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/responsive.css">

    <link rel="stylesheet" href="{{url}}/static/blogs/assets/css/rtl.css">

    <link rel="icon" type="image/png" href="{{url}}/static/blogs/assets/img/favicon.png">

    <title>tokyn </title>
</head>

<body>

    <div class="navbar-area navbar-area-two">

        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="assets/img/rsz_small-logo.png" alt="Logo">
            </a>
        </div>

        <div class="main-nav">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid">

                    <a class="navbar-brand" href="index.html">
                        <img src="static\blogs\assets\img\rsz_small-logo.png" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            {% url 'home' as url %}
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link {% if request.path == url  %}active{% endif %}">
                                    خانه
                            </li>
                            {% url '#' as url %}
                            <li class="nav-item">
                                <a href="#" class="nav-link {% if request.path == url  %}active{% endif %}">
                                    آموزش
                                    <i class="bx bx-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for category in categories %}
                                    <li class="nav-item">
                                        <a href="{% url 'categoryarticles' category.name %}" class="nav-link">
                                            {{category.name}}
                                        </a>

                                    </li>
                                    {%endfor%}

                            </li>
                        </ul>
                        </li>
                        {% url 'currentarticles' as url %}
                        <li class="nav-item">
                            <a href="{% url 'currentarticles' %}" class="nav-link {% if request.path == url  %}active{% endif %}">
                                مقالات

                        </li>
                        <!--<li class="nav-item">-->
                        <!--<a href="video.html" class="nav-link">نقشه راه</a>-->
                        <!--</li>-->
                        {% url 'aboutus' as url %}
                        <li class="nav-item">
                            <a href="{% url 'aboutus' %}" class="nav-link {% if request.path == url  %}active{% endif %}">تماس با ما</a>

                        </li>
                        {% url 'hiringuser' as url %}
                        <li class="nav-item">
                            <a href="{% url 'hiringuser' %}" class="nav-link {% if request.path == url  %}active{% endif %}">ارسال رزومه</a>
                        </li>

                        </ul>

                        <div class="others-option">
                            <div class="follow">
                                <span>دنبال شونده</span>
                                <i class="bx bx-chevron-down"></i>
                                <ul>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="bx bxl-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="option-item">
                                <div class="login">
                                    {% if user.is_authenticated %}

                                    سلام {{ user.username }}
                                    <br>
                                    <div class="btn-group CCC">
                                        <button type="button" class="btn btn-success">
                                            <a href="{% url 'createarticle' %}">Create</a>
                                        </button>
                                        <button type="button" class="btn btn-success">
                                            <a href="{% url 'currentarticles' %}">Current</a>
                                        </button>
                                        <button type="button" class="btn btn-success">
                                            <a href="{% url 'viewcategories' %}">Categories</a>
                                        </button>
                                    </div>
                                    <form action="{% url 'logoutuser' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Logout</button>

                                    </form>

                                    {% else %}

                                    <!--<a href=" {% url 'signupuser' %} ">Sign Up</a>-->
                                    <br>
                                    <br>
                                    <!--<a href=" {% url 'loginuser' %} ">Login</a>-->

                                    {% endif %}
                                </div>
                                <!-- <i class="search-btn bx bx-search"></i>
<i class="close-btn bx bx-x"></i>
<div class="search-overlay search-popup">
<div class='search-box'>
<form class="search-form">
<input class="search-input" name="search" placeholder="جستجو" type="text">
<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
</form>
</div>
</div> -->
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>




    {% block content %}


    {% endblock %}

    <footer class="footer-top-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <a href="{% url 'home' %}">
                            <img src="static\blogs\assets\img\small-logo.png" alt="Image">
                        </a>
                        <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                            ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                        <div class="social-area">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="bx bxl-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>فهرست</h3>
                        <ul>
                            <li>
                                <!--<a href="{% url 'viewcategories' %}">-->
                                <!--<i class="bx bx-chevrons-left"></i>-->
                                <!--آموزش-->
                                <!--</a>-->
                            </li>
                            <li>
                                <a href="{% url 'currentarticles' %}">
                                    <i class="bx bx-chevrons-left"></i>
                                    مقالات
                                </a>
                            </li>
                            <li>
                                <a href="video.html">
                                    <i class="bx bx-chevrons-left"></i>
                                    نقشه راه
                                </a>
                            </li>
                            <li>
                                <a href="video.html">
                                    <i class="bx bx-chevrons-left"></i>
                                    دوره های آموزشی
                                </a>
                            </li>
                            <li>
                                <a href="video.html">
                                    <i class="bx bx-chevrons-left"></i>
                                    معرفی ابزار ها
                                </a>
                            </li>
                            <li>
                                <a href="full-width-blog.html">
                                    <i class="bx bx-chevrons-left"></i>
                                    مفاهیم
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'aboutus' %}">
                                    <i class="bx bx-chevrons-left"></i>
                                    تماس با ما
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>آخرین مطالب</h3>

                        <ul>
                            {% for article in listof_articles %}
                            <li>
                                <a href="{% url 'viewarticle' article.id %}">
                                    <i class="bx bx-chevrons-left"></i>
                                    {{ article.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget contact">
                        <h3>ارتباط با ما</h3>
                        <ul>
                            <li>
                                <i class="bx bx-phone-call"></i>
                                <span>خط ویژه:</span>
                                <a href="tel:+61-821-456">
                                    +61-821-456
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i>
                                <span>ایمیل:</span>
                                <a href="mailto: hello@linka.com">hello@linka.com
                                </a>
                            </li>
                            <li>
                                <i class="bx bx-location-plus"></i>
                                <span>آدرس:</span>
                                ایران ، استان تهران ، میدان آزادی ، خیابان 9 شرقی
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <footer class="footer-bottom-area">
        <div class="container">
            <div class="copy-right">
                <p>کپی رایت <i class="bx bx-copyright"></i> 1400 توکین. تمام حقوق محفوظ است. طراحی و توسعه توسط <a
                        href=# target="_blank"> Tokyn </a></p>
            </div>
        </div>
    </footer>


    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
        <i class='bx bx-chevrons-up'></i>
    </div>


    <script src="{{url}}/static/blogs/assets/js/jquery.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/bootstrap.bundle.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/meanmenu.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/wow.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/owl.carousel.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/magnific-popup.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/nice-select.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/form-validator.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/contact-form-script.js"></script>

    <script src="{{url}}/static/blogs/assets/js/ajaxchimp.min.js"></script>

    <script src="{{url}}/static/blogs/assets/js/custom.js"></script>
</body>

</html>

<!--/////////////////////////////-->