{% extends 'blogs/base.html' %}


{% block content %}


<h2>page number:{{ page.number }}</h2>
<section class="latest-project-area pb-70">
<div class="container">
<div class="section-title text-center">
<h2> مقالات</h2>
</div>
<div class="row">
{% for article in page.object_list %}
        <div class="col-lg-4 col-md-6">
        <div class="single-featured">
                 {% if article.image %}
                <a href="{% url 'viewarticle' article.id %}">
                <img src="{{ article.image.url }}" alt="Image">
                </a>
                {% endif %}
                <div class="featured-content">
                        <ul>
                                <li>
                                <i class="bx bx-calendar"></i>
                                {{ article.created }}
                                </li>
                        </ul>
                        <a href="{% url 'viewarticle' article.id %}">
                        <h3>{{  article.title }}</h3>
                        </a>
                        <p>{% for article_category in article.category.all %}
                       <td> {{ article_category.name }} </td>
                            {% endfor %}</p>
                        <a href="{% url 'viewarticle' article.id %}" class="read-more">ادامه خواندن</a>

                </div>
        </div>
</div>
{% endfor %}
        <div class="page-links">
                {% if page.has_previous %}
                <a href="{% url 'currentarticles' %}?page={{page.previous_page_number }}">Previous</a>
                {% endif %}
                {% if page.has_next %}
                <a href="{% url 'currentarticles' %}?page={{  page.next_page_number }}">Next </a>
                {% endif %}

                        </div>
</div>
</div>
</section>


{% endblock %}


