{% extends 'blogs/base.html' %}


{% block content %}


<section class="main-blog-area-two pb-100">
<div class="container-fluid">
<div class="row">
<div class="col-lg-5 plr-5">
<div class="single-main-blog-item-two bg-1" style="background-image: url({{ listof_articles.0.image.url }})";>
<div class="main-blog-content">
<a href="">
<h3>{{listof_articles.0.title}}</h3>
</a>
<ul>
<li>

</li>
<li>
<i class="bx bx-calendar"></i>
{{ listof_articles.0.created }}</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-2">
<div class="row">
<div class="col-lg-12 col-md-6 plr-5">
<div class="single-main-blog-item-two middle bg-2 mb-8">
<img src="{{ listof_articles.1.image.url }}" alt="Image">
<div class="main-blog-content">
<a href="post-style-one.html">
<h3>{{listof_articles.1.title}}</h3>
</a>
<ul>
<li>

</li>
<li>
<i class="bx bx-calendar"></i>
{{ listof_articles.1.created }}</li>
</ul>
</div>
</div>
</div>
<div class="col-lg-12 col-md-6 plr-5">
<div class="single-main-blog-item-two middle">
<img src="{{ listof_articles.2.image.url }}" alt="Image">
<div class="main-blog-content">
<a href="post-style-one.html">
<h3>{{listof_articles.2.title}}</h3>
</a>
<ul>
<li>

</li>
<li>
<i class="bx bx-calendar"></i>
{{ listof_articles.2.created }} </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-5 plr-5">
<div class="single-main-blog-item-two bg-4" style="background-image: url(C:/Users/User/Desktop/mohammad%20hosein/assets/img/home-two/main-blog-img/4.jpg)";>
<img src="{{ listof_articles.3.image.url }}" alt="Image">
<div class="main-blog-content">
<a href="post-style-one.html">
<h3>{{listof_articles.3.title}}</h3>
</a>
<ul>
<li>

</li>
<li>
<i class="bx bx-calendar"></i>
{{ listof_articles.3.created }} </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</section>




<section class="latest-project-area pb-70">
<div class="container">
<div class="section-title text-center">
<h2>آخرین مقالات</h2>
</div>
<div class="row">
{% for article in listof_articles %}
<div class="col-lg-4 col-md-6">
        <div class="single-featured">
                <a href="{% url 'viewarticle' article.id %}">
                <img src="{{ article.image.url }}" alt="Image">
                </a>
                <div class="featured-content">
                        <ul>
                                <li>
                                <i class="bx bx-calendar"></i>
                                {{ article.created }}
                                </li>
                        </ul>
                        <a href="{% url 'viewarticle' article.id %}">
                        <h3>{{  article.title }}</h3>
                        </a>
                        <p>{% for article_category in article.category.all %}
                       <td> {{ article_category.name }} </td>
                            {% endfor %}</p>
                        <a href="{% url 'viewarticle' article.id %}" class="read-more">ادامه خواندن</a>
                </div>
        </div>
</div>
{% endfor %}
</div>
</div>
</section>
{% endblock %}